article {
	margin-left: 170px;
}

article ul {
	list-style-type: none;
}

aside {
	float: left;
	max-width: 160px;
	padding: 1em;
	margin-top: 20px;
}

hr {
	width: 1px;
	size: 500;
	display: inline-block;
}

header {
	padding: 1em;
	color: white;
	text-align: center;
	background-color: black;
}